html,
body {
    height: 20%
}

h {
    font-size: 10;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer";
}

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

#sidebar {
    grid-area: sidebar;
}

#footer {
    grid-area: footer;
}

/**************************** mobile layouts*/

@media(max-width: 400px) {

    /* mobile style rules */
    #container {
        grid-template-rows: max-content;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "sidebar sidebar sidebar sidebar"
            "footer footer footer footer";
    }
}

@media (min-width: 401px) and (max-width: 600px) {

    /* tablet style rules */
    #container {
        grid-template-rows: max-content;
        grid-template-areas:
            "header header header header"
            "main main main sidebar"
            "footer footer footer footer";
    }

}
